# Python Cache
__pycache__/
*.py[cod]
*$py.class

# Mac OS
.DS_Store

# Virtual Environments
.env
.venv
env/
venv/

# Project Specific
# Ignoriamo le cartelle inputs e separated che conterranno audio degli utenti
inputs/
separated/

# File audio e spazzatura
*.mp3
*.wav
*.flac
*.m4a
